<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1">

    <!-- bundle from webpack -->
    <script src="dist/bundle.js"></script>

    <!-- React and JQuery -->
    <!-- <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script> -->
    <!-- <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script> -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>


    <!-- Opal (or bring your own) -->
    <%= javascript_include_tag 'opal-collapsed.js'%>

    <!--Hyperloop -->
    <%= javascript_include_tag 'hyperloop.js'%>
    <%= javascript_include_tag 'hyper-router.js'%>

    <script src="dist/lunr.js"></script>
    <script src="dist/lunar_search_helpers.js"></script>

<!-- <script src="xxxdist/docs.js"></script> -->

    <!-- React and JQuery -->
    <!-- <script src="dist/xxxsemantic.min.js"></script> -->
    <!-- <script src="dist/xxxdocs.js"></script> -->

    <!-- stylesheets -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"></link>
    <link href="./app/css/codemirror.css" rel="stylesheet">
    <link href="./app/css/one-dark.css" rel="stylesheet">
    <link href="./app/css/highlight-theme.css" rel="stylesheet">
    <link href="./app/css/override.css" rel="stylesheet">

    <link href="./app/css/docs.css" rel="stylesheet">
    <link href="./app/css/home.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/dist/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/dist/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/dist/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/ico" href="/dist/images/favicon.ico">
    <link rel="manifest" href="/dist/images/manifest.json">
    <link rel="mask-icon" href="/dist/images/safari-pinned-tab.svg" color="#e81176">
    <meta name="theme-color" content="#ffffff">


    <!-- cdn libs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

    <%= javascript_include_tag 'app.js'%>

  </head>

  <body>

    <script type="text/javascript">

 $(document).ready(function() {
    //alert (getDatas());
//     var data = AllWebsiteDatas;
//     var searchquery = "library";
//     var searchresults = Searchquery(Lunrindex(data), data, searchquery);

//     $.each(searchresults, function(i,result) {
//         alert(result.text);
//     });
 });



    </script>


    <script type="text/ruby">

    Document.ready? do

       #@globalIndex = `AllWebsiteDatas`


       #puts rubyobj[0][:text]
    end

    </script>



    <div id="hyperloopsite"></div>


  </body>
</html>
