.hyperlooplogo {
  width: 150px;
  height: 145px;
  margin: 0 auto 0 auto !important;
  background: url("logo/hyperloop-logo-medium-white.png");
  background-repeat: no-repeat;
  background-position: center;
  //background-size: 184px 178px;
  background-size: 140px 125px;
  //background-size: 66px 65px;
}

.hyperlooplogo:after {
  content: '';
  width: 150px;
  height: 145px;
  position: absolute;
  background: url("logo/hyperloop-logo-atom-medium-white.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140px 125px;

  -webkit-animation-name: rotate;
  -webkit-animation-duration:15s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function: ease-in-out;

  -moz-animation-name: rotate;
  -moz-animation-duration:15s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function: ease-in-out;
 }

 .project-header {
   font-size: 4em;
   font-weight: bold;
   margin-bottom: 0px;
 }

 .project-tagline {
   font-size: 2.5em;
   font-weight: normal;
   margin-bottom: 0px;
   color: gray !important;
 }

p {
    font-size: 15px;
}

.block {
    padding-top: 25px;
    padding-bottom: 25px;
}

.pink-text {
  color: #D53475 !important;
}

.blue-text {
  color: #73AEEA;
}

.green-text {
  color: #6D9069;
}

.purple-text {
  color: #BB7ED7;
}

.gray-background {
  background-color: #292C33 !important;
}
