.hyperlooplogo {
  width: 150px;
  height: 145px;
  margin: 0 auto 0 auto !important;
  background: url("logo/hyperloop-logo-medium-white.png");
  background-repeat: no-repeat;
  background-position: center;
  //background-size: 184px 178px;
  background-size: 140px 125px;
  //background-size: 66px 65px;
}

.hyperlooplogo:after {
  content: '';
  width: 150px;
  height: 145px;
  position: absolute;
  background: url("logo/hyperloop-logo-atom-medium-white.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140px 125px;

  -webkit-animation-name: rotate;
  -webkit-animation-duration:15s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function: ease-in-out;

  -moz-animation-name: rotate;
  -moz-animation-duration:15s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function: ease-in-out;

 }

 .hyperstack-background {
  background-color: #D53475 !important;;
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem; }

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem; } }

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem; } }

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7; }

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem; } }
