.project-header {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 0px;
}

.project-tagline {
  font-size: 2.0em;
  font-weight: normal;
  margin-bottom: 0px;
  color: #cabfbf !important;
}

.block {
   padding-top: 25px;
   padding-bottom: 25px;
}

.orange-text {
 color: #d19a66 !important;
}

.yellow-text {
 color: #e5c07b !important;
}

.pink-text {
 color: #D53475 !important;
}

.blue-text {
 color: #61afef;
}

.red-text {
 color: #e06c75;
}

.green-text {
 color: #98c379;
}

.purple-text {
 color: #c678dd;
}

/* lighter */
.gray-background {
 background-color: #3c4248 !important;
}

/* darker */
/* .gray-background {
 background-color: #282c33 !important;
} */
