
.hyperlooppink { color: #e81176;}
.hyperloopgreen { color: #149c8e;}

a {
  color: #e81176 !important;
  text-decoration: none;
}

a:hover {
  color: #149c8e !important;
  cursor: pointer;
}

.searchresultcontent {
  min-height: 40vh;
}

.page-container {
  position: relative;
}

.page-wrap {
    padding-top: 50px;
}

.edit-github-button {
  position: absolute;
  top: 90px;
  right: 0px;
}

.pagebody {
  font-size: 18px;
}


.pagebody h1 {
  font-size: 2.5rem !important;
  color: #e81176;
  margin-bottom: 2em;
}

.pagebody h2 {
  font-size: 2.1rem;
  margin-bottom: 1.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.pagebody h3 {
  font-size: 1.7rem;
}

.pagebody h4 {
  font-size: 1.4rem;
}

.pagebody ul {
  line-height: 1.5em !important;
}

.pagebody p.ptopmargin-1 {
  margin: 0 !important;
  padding: 0 !important;
  height: 0 !important;
}

.pagebody p.ptopmargin-2 {
  margin: 0 !important;
  padding: 0 !important;
  height: 4em !important;
}

.pagebody p.ptopmargin-3 {
  margin: 0 !important;
  padding: 0 !important;
  height: 3em !important;
}

.pagebody p.ptopmargin-4 {
  margin: 0 !important;
  padding: 0 !important;
  height: 2em !important;
}

.pagebody .inline-codespan {
  background-color: #ececec;
  padding: 0em 0.1em 0em 0.1em !important;
}

.pagebody .chapteranchor {
  padding-top: 85px;
  margin-top: -85px;
}

.pagebody .hljs {
  font-size: 20px !important;
}

.pagebody pre.pre-md-code {
  margin: 2em 0em !important;
}

.pagebody .runablecode-container {
  margin: 2em 0em !important;
}

.pagebody code {
  margin: 0 0 0 0 !important;
}

.pagebody .ui.inverted.segment.runablecode-container {
  background-color: hsl(220, 13%, 18%) !important;
}


.pagebody .runable_code_blocks .ui.negative.message {
  margin: 0em !important;
}

.pagebody .runable_code_blocks .live-compile {
  border: 3px solid white;
  padding: 0em;
  background-color: #ddd;
}

.pagebody .ReactCodeMirror {
  padding: 2em 1em 2em 1em !important;
  background-color: hsl(220, 13%, 18%) !important;
  border: 1px solid #149c8e;
}

.pagebody .codeeditor-header {
  margin: 0 !important;
  padding: 0.5em 1em 0.5em 1em !important;
}

.pagebody .ui.inverted.segment {
  background-color: #149c8e !important;
}
/*.pagebody .runable_code_blocks #result {
  border: 1px solid black;
  padding: 0em;
  background-color: white;
}*/
