
.main-page {
  /*background-color: #F6F6F6*/

}

.white-background {
  background-color: #dedede;
}

.tight-box {
    padding-top: 0px !important;
    /* padding-right: 0px !important; */
    padding-left: 0px !important;
    padding-bottom: 0px !important;
}

.outline-box {
    outline-style: outset;
    outline-width: thin;
    outline-color: gray;
}

.project-header {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 0px;
    text-align: center;
}

.project-tagline {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 0px;
  color: #cabfbf !important;
}

.project-tagline-footer {
  font-size: 1.25em;
  font-weight: normal;
  margin-bottom: 0px;
  color: #cabfbf !important;
}

.small-code-font {
  font-size: 0.8em !important;
}

.block {
   padding-top: 35px;
   padding-bottom: 25px;
}

.dark-gray-text {
  color: #3c4248 !important;
}
.light-grey-text{
 color: #cabfbf !important;
}
.gray-text {
  color: hsl(220, 13%, 18%) !important;
}

.orange-text {
 color: #d19a66 !important;
}

.yellow-text {
 color: #e5c07b !important;
}

.white-text {
 color: white !important;
}

.pink-text {
 color: #D53475 !important;
}

.blue-text {
 color: #61afef;
}

.red-text {
 color: #e06c75;
}

.green-text {
 color: #98c379;
}

.purple-text {
 color: #c678dd;
}

.gray-background {
 background-color: #3c4248 !important;
}

.other-background {
    background: rgb(0, 0, 0, 0.2) !important;
}

.hyperlooppink { color: #e81176;}
.hyperloopgreen { color: #149c8e;}

a {
  color: #e81176 !important;
  text-decoration: none;
}

a:hover {
  color: #149c8e !important;
  cursor: pointer;
}

.top-nav {
  color: #cabfbf !important;
  text-decoration: none;
}

.edit-github-button {
  position: absolute;
  top: 90px;
  right: 0px;
}

.inline-codepsan {
  background-color: #F6F6F6 !important;
}

.toc-scrollspy {
  font-weight: bold !important;
}


.cursor-pointer {
   cursor:pointer;
 }

.right {
    margin-left: auto
}

.space-right {
    margin-right: 20px;
}

.text-center {
   text-align: center;
}

.gradient{
    background-image: linear-gradient(#68333e, hsl(220, 13%, 18%));
}

.grey{
   background-color: hsl(220, 13%, 18%);
}

.paper{
    paddingTop: 20em;
    paddingBottom: 20em;
}

.exercise-type-card {
    max-width: 400px;
    margin-right: 10px;
    margin-left: 10px;
}

.grow {
    flex: 1;
}

.space-left{
    margin-left: 20px;
}

@media only screen and (max-width: 520px) {
    div.CodeMirror-code {
        font-size: 10px;
    }
}

.div.MuiToolbar-root-134 {
    background-color: yellow;
    @include media-breakpoint-up(xs) {
        background-color: black;
    }
    @include media-breakpoint-up(sm) {
        background-color: white;
    }
}
